@import "~bootstrap/scss/bootstrap";

// Import Component
@import 'components/section';
@import 'components/buttons';
@import 'components/tables';
@import 'components/colors';
@import 'components/list';
@import 'components/background';
@import 'components/text';
@import 'components/responsive';
@import 'components/form';

#root {
    height: 100%;
}
html, body{
    height: 100%;
    margin:0;
    padding:0;
}