.dBackgroundImageTop {
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.dBackgroundImageCenter {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}