.dButtonRed {
    border-radius: 20px;
    padding: 6px 20px;
    -webkit-box-shadow: 0px 0px 5px 0px #dc3545;
    -moz-box-shadow: 0px 0px 5px 0px #dc3545;
    box-shadow: 0px 0px 5px 0px #dc3545;
}

.dButtonCream {
    background-color: #d2b177;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.dButtonDanger {
    background-color: #fe0202;
    -webkit-box-shadow: 0px 5px 5px -3px #000;
    -moz-box-shadow: 0px 5px 5px -3px #000;
    box-shadow: 0px 5px 5px -3px #000;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .dButtonRed {
        padding: 6px 15px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }