.dSection {
    background-color:white;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 30px;

    .dTitle {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}