.dTextBonus {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px;

    h1 {
      font-family: 'Roboto-Bold';
    }
    
    .dTextGradient {
        background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, #d2b177 75%, #d2b177 100%) repeat scroll 0 0;
    }
}

.dTextWarning {
    color: #fe0b07;
}

.dBlink {
    -moz-animation-duration: 1000ms;
    -moz-animation-name: blink;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
  
    -webkit-animation-duration: 1000ms;
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    
    animation-duration: 1000ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@-moz-keyframes blink {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@-webkit-keyframes blink {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}
@keyframes blink {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
}