.dTopbar {
    background-color: black;
}

.dAlert {
    background-color: #fe0202;
    color: white;
    margin-bottom: 20px;
}

.dContact {
    background-color: #ccac73;
}

.dFooter {
    background-color: black;
    color: white;
}