.dBody {
    background-color: #e8e8e8;

    .dTopbar {
        background-color: black;
    }
    
    .dAlert {
        background-color: #fe0202;
        color: white;
        margin-bottom: 20px;
    }
    
    .dContact {
        background-color: #ccac73;
        padding: 20px;
    }
    
    .dFooter {
        background-color: black;
        color: white;
    }
}