.dBody {
    background-color: #e8e8e8;
    font-family: 'Roboto';

    .dTopbar {
        background-color: black;
    }
    
    .dAlert {
        background-color: #fe0202;
        color: white;
        margin-bottom: 20px;
        font-family: 'Roboto-Bold';
    }

    .dTitle {
        font-family: 'Roboto-Bold';
    }

    .dSectionTwo {
        font-family: 'Roboto-Bold';

        .dSectionOne__description {
            font-family: 'Roboto';
        }
    }

    .dSectionSix {
        position: relative;
        .dSpecialOffer {
            position: absolute;
            right: 50px;
        }
    }
    
    .dContact {
        background-color: #ccac73;
        padding: 20px;
    }
    
    .dFooter {
        background-color: black;
        color: white;
    }

    // Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) { 
        .dSectionSix {
            .dSpecialOffer {
                right: 20px;

                img {
                    width: 70px;
                }
            }
        }
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {  }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) { }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {  }
}